@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 211 15% 16%;
    --foreground: 210 40% 98%;
    --card: 211 15% 20%;
    --card-foreground: 210 40% 98%;
    --popover: 211 15% 18%;
    --popover-foreground: 210 40% 98%;
    --primary: 221 33% 55%;
    --primary-foreground: 210 40% 98%;
    --secondary: 211 15% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 211 15% 30%;
    --muted-foreground: 210 40% 80%;
    --accent: 211 43% 71%;
    --accent-foreground: 211 15% 16%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 211 15% 30%;
    --input: 211 15% 30%;
    --ring: 221 33% 55%;
    --chart-1: 221 33% 45%;
    --chart-2: 211 43% 71%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 211 15% 16%;
    --foreground: 210 40% 98%;
    --card: 211 15% 20%;
    --card-foreground: 210 40% 98%;
    --popover: 211 15% 18%;
    --popover-foreground: 210 40% 98%;
    --primary: 221 33% 55%;
    --primary-foreground: 210 40% 98%;
    --secondary: 211 15% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 211 15% 30%;
    --muted-foreground: 210 40% 80%;
    --accent: 211 43% 71%;
    --accent-foreground: 211 15% 16%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 211 15% 30%;
    --input: 211 15% 30%;
    --ring: 221 33% 55%;
    --chart-1: 221 33% 45%;
    --chart-2: 211 43% 71%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
